<div class="welcome-container">
  <div class="welcome-card">

    <div class="logo-area">
      <div class="brand-icon">🏟️</div>
      <h1>Polo Esportivo</h1>
      <p>Gestão de agendamento de quadras</p>
    </div>

    <hr class="divider">
    <div class="actions-group">
      <button class="btn btn-login" (click)="irParaLogin()">
        Já tenho uma conta (Logar)
      </button>

      <button class="btn btn-register" (click)="irParaCadastro()">
        Criar nova conta (Cadastrar)
      </button>

      <button class="btn btn-guest" (click)="entrarComoConvidado()">
        Continuar sem autenticação
      </button>
    </div>

  </div>
</div>
